<div>
  <div>
    イメージ画像
    <div>キャッチフレーズ</div>
  </div>
  <div>
    <h2>RidersCommunitySiteとは・・・</h2><br>
    全てのバイクを愛する人たちのためのコミュニティサイトです<br>
    自身の写真を投稿したり、みんなの投稿にいいねをつけたりコメントすることができます<br>
    投稿以外にも気軽にチャットできる掲示板もありますので、気軽に参加してみましょう<br>
    会員でない方も管理者ブログを見ることができます<br>
    あなたの愛車を皆に自慢し、語り合いませんか？<br>
  </div>
  <div>
    <div>
      <%= link_to "新規会員登録はこちらから", new_user_registration_path %>
    </div>
    <div>
      <%= link_to "会員ログインはこちらから", new_user_session_path %>
    </div>
  </div>
  <div>
    <%= link_to "トップページにもどる",root_path %>
  </div>
</div>
