<div class="container col-8">
  <div class="text-center mt-5">
    <h1 class="my-3">RidersCommunitySiteとは・・・</h1><br>
    <div class="text-center">
      <%#= image_tag 'top002.jpg', size: '600x400' %>
    </div>
    <p class="my-3">全てのバイクを愛する人たちのためのコミュニティサイトです<br><br>
    自身の写真を投稿したり、みんなの投稿にいいねをつけたりコメントすることができます<br><br>
    投稿以外にも気軽にチャットできる掲示板もありますので、気軽に参加してみましょう<br><br>
    会員ではない方も管理者ブログを見ることができます<br><br>
    あなたの愛車を皆に共有し、バイクが好きな人たちと交流しませんか？<br><br></p>
  </div>
  <div class="row center-block my-5">
    <div class="col offset-1 my-4">
      <%= link_to "新規会員登録はこちらから", new_user_registration_path, class: "btn btn-outline-success" %>
    </div>
    <div class="col offset-1 my-4">
      <%= link_to "会員ログインはこちらから", new_user_session_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
  <div class="text-center my-5">
    <%= link_to "トップページにもどる",root_path, class: "my-5" %>
  </div>
</div>
