<div class="container col-8">
  <div class="text-center">
    <%#= image_tag 'top001.jpg', size: '800x400' %>
    <div class="my-5">
      <h1>RidersCommunitySite</h1>
    </div>
  </div>
  <div class="my-5 text-center">
    <h3>
      ここはバイクが好きな人たちのための交流場です<br>
      自身のバイクの写真を投稿したり、掲示板を使って<br>
      ユーザー同士の交流を楽しみましょう!<br>
    </h3>
  </div>
  <% unless user_signed_in? or admin_signed_in? %>
    <div class="row col text-center my-5">
      <div class="col">
        <%= link_to "新規会員登録はこちらから", new_user_registration_path, class: "btn btn-outline-success" %>
      </div>
      <div class="col ">
        <%= link_to "会員ログインはこちらから", new_user_session_path, class: "btn btn-outline-primary" %>
      </div>
    </div>
  <% end %>
  <div class="col text-center">
    <div class="">
      <h4>ユーザー投稿</h4>
    </div>
    <div class="">
      <h4>掲示板</h4>
    </div>
    <div class="">
      <h4>管理人ブログ</h4>
    </div>
    <div class="">
      <h4>お知らせ</h4>
    </div>
    <div class="">
      <h4>お問い合わせ</h4>
    </div>
  </div>
</div>
