<div>
  <div>
    <h4>新規スレッド作成</h4>
  </div>
  <%= form_with model:ChatRoom, local: true do |f| %>
  <table>
    <tr>
      <th><%= f.label :room_name, "スレッドタイトル" %></th>
      <td><%= f.text_field :room_name %></td>
    </tr>
  </table>
  <div>
    <%= f.submit '作成する' %>
  </div>
  <% end %>
</div>
