<% blog.blog_comments.each do |blog_comment| %>
<div>
  <div>
    <% if @user.profile_image.attached? %>
      <%= image_tag @user.profile_image %>
    <% else %>
      <%= image_tag 'no_image.jpg' %>
    <% end %>
  </div>
  <div>
    <%= blog_comment.user.name %>
  </div>
  <div>
    <%= blog_comment.comment %>
  </div>
</div>
<% end %>