<div class="container">
  <div class="row">
    <div class="col-7 my-5">
     <h2 class="mb-4">ユーザー一覧</h2>
      <table class="table table-striped">
        <tr>
          <th>ユーザーID</th>
          <th>名前</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.full_name, admins_user_path(user.id) %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.is_deleted == true %>
              <p>退会済</p>
            <% else %>
              <p>有効</p>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-4 offset-1 my-5">
      <%= render "admins/admin/menu" %>
    </div>
  </div>
</div>
