<!--フッター-->
<div class='container mt-2'>
  <div class='row'>
    <div>
      <%= link_to "お問合せ", new_contact_path %>
    </div>
  </div>
  <div class='row'>
    <div class='mx-auto'>
      <p>Riders Community Site</p>
    </div>
  </div>
</div>
